In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [21]:
data=pd.read_csv('tour_package.csv')
data.drop('CustomerID',axis=1,inplace=True)
data

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [22]:
data.columns

Index(['ProdTaken', 'Age', 'TypeofContact', 'CityTier', 'DurationOfPitch',
       'Occupation', 'Gender', 'NumberOfPersonVisiting', 'NumberOfFollowups',
       'ProductPitched', 'PreferredPropertyStar', 'MaritalStatus',
       'NumberOfTrips', 'Passport', 'PitchSatisfactionScore', 'OwnCar',
       'NumberOfChildrenVisiting', 'Designation', 'MonthlyIncome'],
      dtype='object')

In [23]:
data.dtypes

ProdTaken                     int64
Age                         float64
TypeofContact                object
CityTier                      int64
DurationOfPitch             float64
Occupation                   object
Gender                       object
NumberOfPersonVisiting        int64
NumberOfFollowups           float64
ProductPitched               object
PreferredPropertyStar       float64
MaritalStatus                object
NumberOfTrips               float64
Passport                      int64
PitchSatisfactionScore        int64
OwnCar                        int64
NumberOfChildrenVisiting    float64
Designation                  object
MonthlyIncome               float64
dtype: object

In [24]:
for column in data.columns:
    print(column,':',data[column].unique())

ProdTaken : [1 0]
Age : [41. 49. 37. 33. nan 32. 59. 30. 38. 36. 35. 31. 34. 28. 29. 22. 53. 21.
 42. 44. 46. 39. 24. 43. 50. 27. 26. 48. 55. 45. 56. 23. 51. 40. 54. 58.
 20. 25. 19. 57. 52. 47. 18. 60. 61.]
TypeofContact : ['Self Enquiry' 'Company Invited' nan]
CityTier : [3 1 2]
DurationOfPitch : [  6.  14.   8.   9.  30.  29.  33.  22.  21.  32.  25.  27.  11.  17.
  15.  13.  12.  16.  10.  31.  18.  nan  24.  35.  28.  20.  26.  34.
  23.   5.  19. 126.   7.  36. 127.]
Occupation : ['Salaried' 'Free Lancer' 'Small Business' 'Large Business']
Gender : ['Female' 'Male' 'Fe Male']
NumberOfPersonVisiting : [3 2 1 4 5]
NumberOfFollowups : [ 3.  4.  2.  5. nan  1.  6.]
ProductPitched : ['Deluxe' 'Basic' 'Standard' 'Super Deluxe' 'King']
PreferredPropertyStar : [ 3.  4.  5. nan]
MaritalStatus : ['Single' 'Divorced' 'Married' 'Unmarried']
NumberOfTrips : [ 1.  2.  7.  5.  6.  3.  4. 19. 21.  8. nan 20. 22.]
Passport : [1 0]
PitchSatisfactionScore : [2 3 5 4 1]
OwnCar : [1 0]
NumberOfChildrenVisiting : [ 0.  2.  1. nan  3.]
Designation : ['Manager' 'Executive' 'Senior Manager' 'AVP' 'VP']
MonthlyIncome : [20993. 20130. 17090. ... 22097. 22995. 21471.]

In [25]:
data.Gender.replace('Fe Male','Female',inplace=True)
data.MaritalStatus.replace('Single','Unmarried',inplace=True)

C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3883028303.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Gender.replace('Fe Male','Female',inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3883028303.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.MaritalStatus.replace('Single','Unmarried',inplace=True)

In [27]:
cols=['TypeofContact','CityTier','Occupation','Gender','ProductPitched','MaritalStatus','Designation']
for column in cols:
    data[column]=data[column].astype('category')

In [28]:
data.dtypes

ProdTaken                      int64
Age                          float64
TypeofContact               category
CityTier                    category
DurationOfPitch              float64
Occupation                  category
Gender                      category
NumberOfPersonVisiting         int64
NumberOfFollowups            float64
ProductPitched              category
PreferredPropertyStar        float64
MaritalStatus               category
NumberOfTrips                float64
Passport                       int64
PitchSatisfactionScore         int64
OwnCar                         int64
NumberOfChildrenVisiting     float64
Designation                 category
MonthlyIncome                float64
dtype: object

In [29]:
data.isna().sum()

ProdTaken                     0
Age                         226
TypeofContact                25
CityTier                      0
DurationOfPitch             251
Occupation                    0
Gender                        0
NumberOfPersonVisiting        0
NumberOfFollowups            45
ProductPitched                0
PreferredPropertyStar        26
MaritalStatus                 0
NumberOfTrips               140
Passport                      0
PitchSatisfactionScore        0
OwnCar                        0
NumberOfChildrenVisiting     66
Designation                   0
MonthlyIncome               233
dtype: int64

In [36]:
data.Age.fillna(int(np.mean(data.Age)),inplace=True)
data.TypeofContact.fillna(data.TypeofContact.mode()[0],inplace=True)
data.DurationOfPitch.fillna(int(np.mean(data.DurationOfPitch)),inplace=True)
data.NumberOfFollowups.fillna(int(np.mean(data.NumberOfFollowups)),inplace=True)
data.PreferredPropertyStar.fillna(np.mean(data.PreferredPropertyStar),inplace=True)
data.NumberOfTrips.fillna(int(np.mean(data.NumberOfTrips)),inplace=True)
data.NumberOfChildrenVisiting.fillna(int(np.mean(data.NumberOfChildrenVisiting)),inplace=True)
data.MonthlyIncome.fillna(np.mean(data.MonthlyIncome),inplace=True)

C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3933578729.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.Age.fillna(int(np.mean(data.Age)),inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3933578729.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.TypeofContact.fillna(data.TypeofContact.mode()[0],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3933578729.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.DurationOfPitch.fillna(int(np.mean(data.DurationOfPitch)),inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3933578729.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.NumberOfFollowups.fillna(int(np.mean(data.NumberOfFollowups)),inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3933578729.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.PreferredPropertyStar.fillna(np.mean(data.PreferredPropertyStar),inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3933578729.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.NumberOfTrips.fillna(int(np.mean(data.NumberOfTrips)),inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3933578729.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.NumberOfChildrenVisiting.fillna(int(np.mean(data.NumberOfChildrenVisiting)),inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3933578729.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data.MonthlyIncome.fillna(np.mean(data.MonthlyIncome),inplace=True)

In [37]:
data.isna().sum()

ProdTaken                   0
Age                         0
TypeofContact               0
CityTier                    0
DurationOfPitch             0
Occupation                  0
Gender                      0
NumberOfPersonVisiting      0
NumberOfFollowups           0
ProductPitched              0
PreferredPropertyStar       0
MaritalStatus               0
NumberOfTrips               0
Passport                    0
PitchSatisfactionScore      0
OwnCar                      0
NumberOfChildrenVisiting    0
Designation                 0
MonthlyIncome               0
dtype: int64

In [38]:
data

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Unmarried,1.0,1,2,1,0.0,Manager,20993.0
1,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Unmarried,7.0,1,3,0,0.0,Executive,17090.0
3,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,0,37.0,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Unmarried,3.0,1,3,1,2.0,Executive,21212.0
4885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Unmarried,3.0,0,5,0,2.0,Executive,20289.0
4887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [45]:
cols=['TypeofContact','CityTier','Occupation','Gender','ProductPitched','MaritalStatus','Designation']
for column in cols:
    print(column,':',data[column].unique())

TypeofContact : ['Self Enquiry', 'Company Invited']
Categories (2, object): ['Company Invited', 'Self Enquiry']
CityTier : [3, 1, 2]
Categories (3, int64): [1, 2, 3]
Occupation : ['Salaried', 'Free Lancer', 'Small Business', 'Large Business']
Categories (4, object): ['Free Lancer', 'Large Business', 'Salaried', 'Small Business']
Gender : ['Female', 'Male']
Categories (2, object): ['Female', 'Male']
ProductPitched : ['Deluxe', 'Basic', 'Standard', 'Super Deluxe', 'King']
Categories (5, object): ['Basic', 'Deluxe', 'King', 'Standard', 'Super Deluxe']
MaritalStatus : ['Unmarried', 'Divorced', 'Married']
Categories (3, object): ['Divorced', 'Married', 'Unmarried']
Designation : ['Manager', 'Executive', 'Senior Manager', 'AVP', 'VP']
Categories (5, object): ['AVP', 'Executive', 'Manager', 'Senior Manager', 'VP']

In [48]:
codes=[{'Self Enquiry':0, 'Company Invited':1},
       {'Salaried':0, 'Free Lancer':1, 'Small Business':2, 'Large Business':3},
       {'Female':0, 'Male':1},
       {'Deluxe':0, 'Basic':1, 'Standard':2, 'Super Deluxe':3, 'King':4},
       {'Unmarried':0, 'Divorced':1, 'Married':2},
       {'Manager':0, 'Executive':1, 'Senior Manager':2, 'AVP':3, 'VP':4}]

cols=['TypeofContact','Occupation','Gender','ProductPitched','MaritalStatus','Designation']

for i in range(len(cols)):
    data[cols[i]].replace(codes[i],inplace=True)

C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data[cols[i]].replace(codes[i],inplace=True)
C:\Users\anshv\AppData\Local\Temp\ipykernel_5252\3450849785.py:11: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  data[cols[i]].replace(codes[i],inplace=True)

In [49]:
data

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,1,41.0,0,3,6.0,0,0,3,3.0,0,3.0,0,1.0,1,2,1,0.0,0,20993.0
1,0,49.0,1,1,14.0,0,1,3,4.0,0,4.0,1,2.0,0,3,1,2.0,0,20130.0
2,1,37.0,0,1,8.0,1,1,3,4.0,1,3.0,0,7.0,1,3,0,0.0,1,17090.0
3,0,33.0,1,1,9.0,0,0,2,3.0,1,3.0,1,2.0,1,5,1,1.0,1,17909.0
4,0,37.0,0,1,8.0,2,1,2,3.0,1,4.0,1,1.0,0,5,1,0.0,1,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,1,49.0,0,3,9.0,2,1,3,5.0,0,4.0,0,2.0,1,1,1,1.0,0,26576.0
4884,1,28.0,1,1,31.0,0,1,4,5.0,1,3.0,0,3.0,1,3,1,2.0,1,21212.0
4885,1,52.0,0,3,17.0,0,0,4,4.0,2,4.0,2,7.0,0,1,1,3.0,2,31820.0
4886,1,19.0,0,3,16.0,2,1,3,4.0,1,3.0,0,3.0,0,5,0,2.0,1,20289.0
4887,1,36.0,0,1,14.0,0,1,4,4.0,1,4.0,0,3.0,1,3,1,2.0,1,24041.0

In [50]:
x=data.drop('ProdTaken',axis=1)
y=data.ProdTaken

In [51]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=23)
x_train.shape,x_test.shape

((4154, 18), (734, 18))

In [52]:
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [54]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [53]:
rfc=RandomForestClassifier()
dtc=DecisionTreeClassifier()
lr=LogisticRegression()
models=[('Random Forest Classifier',rfc),('Decision Tree Classifier',dtc),('Logistic Regression',lr)]

In [63]:
y.value_counts()

ProdTaken
0    3968
1     920
Name: count, dtype: int64

In [56]:
for model in models:
    m=model[1]
    m.fit(x_train_scaled,y_train)
    pred=m.predict(x_test_scaled)

    print(model[0],'score:',m.score(x_test_scaled,y_test))
    print(model[0],'confusion metrics:',confusion_matrix(y_test,pred))
    print(model[0],'classification report:',classification_report(y_test,pred))
    print('-------------------------------------------\n')

Random Forest Classifier score: 0.9455040871934605
Random Forest Classifier confusion metrics: [[586  10]
 [ 30 108]]
Random Forest Classifier classification report:               precision    recall  f1-score   support

           0       0.95      0.98      0.97       596
           1       0.92      0.78      0.84       138

    accuracy                           0.95       734
   macro avg       0.93      0.88      0.91       734
weighted avg       0.94      0.95      0.94       734

-------------------------------------------

Decision Tree Classifier score: 0.9073569482288828
Decision Tree Classifier confusion metrics: [[563  33]
 [ 35 103]]
Decision Tree Classifier classification report:               precision    recall  f1-score   support

           0       0.94      0.94      0.94       596
           1       0.76      0.75      0.75       138

    accuracy                           0.91       734
   macro avg       0.85      0.85      0.85       734
weighted avg       0.91      0.91      0.91       734

-------------------------------------------

Logistic Regression score: 0.8446866485013624
Logistic Regression confusion metrics: [[585  11]
 [103  35]]
Logistic Regression classification report:               precision    recall  f1-score   support

           0       0.85      0.98      0.91       596
           1       0.76      0.25      0.38       138

    accuracy                           0.84       734
   macro avg       0.81      0.62      0.65       734
weighted avg       0.83      0.84      0.81       734

-------------------------------------------

<br><br><br>
### Since Random forest has highest score

In [64]:
params={'criterion':['gini', 'entropy', 'log_loss'],
        'max_depth':[10,15,20,25,30],
        'max_leaf_nodes':[2,4,6],
        'class_weight':[{0: 1, 1: 1.5}, {0: 1, 1: 2}, {0: 1, 1: 2.5}]}

from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(rfc,param_grid=params,cv=5)
grid.fit(x_train_scaled,y_train)

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'class_weight': [{0: 1, 1: 1.5}, {0: 1, 1: 2},
                                          {0: 1, 1: 2.5}],
                         'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_depth': [10, 15, 20, 25, 30],
                         'max_leaf_nodes': [2, 4, 6]})

In [65]:
grid.best_params_

{'class_weight': {0: 1, 1: 2.5},
 'criterion': 'entropy',
 'max_depth': 15,
 'max_leaf_nodes': 6}

In [66]:
grid.best_score_

np.float64(0.8425560726661157)

In [67]:
grid_pred=grid.predict(x_test_scaled)
print(classification_report(y_test,grid_pred))

              precision    recall  f1-score   support

           0       0.85      0.95      0.90       596
           1       0.60      0.29      0.39       138

    accuracy                           0.83       734
   macro avg       0.73      0.62      0.65       734
weighted avg       0.80      0.83      0.80       734