In [2]:
import sqlite3

In [3]:
connect=sqlite3.connect('test.db')
cursor=connect.cursor()

In [ ]:
cursor.execute('create table users (uid int primary key, \
               name varchar(10), \
               password text)')
connect.commit()

In [8]:
cursor.execute('select * from users')

In [9]:
cursor.execute('insert into users(name, password) values ("Ramesh","R@mesh123")')
connect.commit()

In [11]:
values=cursor.execute('select * from users')
for i in values:
    print(i)

(None, 'Ramesh', 'R@mesh123')

In [15]:
values=[[2,'Rakesh','qwerty'],[3,'Priya','uuwoihvi4'],[4,'Aman','3983jfjihIH*_']]
cursor.executemany('insert into users(uid, name, password) values(?,?,?)',values)
connect.commit()

In [16]:
values=cursor.execute('select * from users')
for i in values:
    print(i)

(None, 'Ramesh', 'R@mesh123')
(2, 'Rakesh', 'qwerty')
(3, 'Priya', 'uuwoihvi4')
(4, 'Aman', '3983jfjihIH*_')

In [19]:
cursor.execute('update  users set uid=1 where name ="Ramesh"')
connect.commit()

In [20]:
values=cursor.execute('select * from users')
for i in values:
    print(i)

(1, 'Ramesh', 'R@mesh123')
(2, 'Rakesh', 'qwerty')
(3, 'Priya', 'uuwoihvi4')
(4, 'Aman', '3983jfjihIH*_')

In [21]:
connect.close()