# Gaussian Naive Bayes<br>
Since the input features are continuous and ouput feature (sex) is categorical

In [59]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [60]:
df=sb.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [61]:
df.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [62]:
df.sex.unique(), df.smoker.unique(), df.day.unique(), df.time.unique()

(['Female', 'Male']
 Categories (2, object): ['Male', 'Female'],
 ['No', 'Yes']
 Categories (2, object): ['Yes', 'No'],
 ['Sun', 'Sat', 'Thur', 'Fri']
 Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun'],
 ['Dinner', 'Lunch']
 Categories (2, object): ['Lunch', 'Dinner'])

In [63]:
df.sex=df.sex.replace({'Female':0, 'Male':1})
df.smoker=df.smoker.replace({'No':0, 'Yes':1})
df.day=df.day.replace({'Sun':0, 'Sat':1, 'Thur':2, 'Fri':3})
df.time=df.time.replace({'Lunch':0, 'Dinner':1})
df

C:\Users\anshv\AppData\Local\Temp\ipykernel_13052\1487492522.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.sex=df.sex.replace({'Female':0, 'Male':1})
C:\Users\anshv\AppData\Local\Temp\ipykernel_13052\1487492522.py:1: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df.sex=df.sex.replace({'Female':0, 'Male':1})
C:\Users\anshv\AppData\Local\Temp\ipykernel_13052\1487492522.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.smoker=df.smoker.replace({'No':0, 'Yes':1})
C:\Users\anshv\AppData\Local\Temp\ipykernel_13052\1487492522.py:2: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df.smoker=df.smoker.replace({'No':0, 'Yes':1})
C:\Users\anshv\AppData\Local\Temp\ipykernel_13052\1487492522.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.day=df.day.replace({'Sun':0, 'Sat':1, 'Thur':2, 'Fri':3})
C:\Users\anshv\AppData\Local\Temp\ipykernel_13052\1487492522.py:3: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df.day=df.day.replace({'Sun':0, 'Sat':1, 'Thur':2, 'Fri':3})
C:\Users\anshv\AppData\Local\Temp\ipykernel_13052\1487492522.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.time=df.time.replace({'Lunch':0, 'Dinner':1})
C:\Users\anshv\AppData\Local\Temp\ipykernel_13052\1487492522.py:4: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  df.time=df.time.replace({'Lunch':0, 'Dinner':1})

     total_bill   tip sex smoker day time  size
0         16.99  1.01   0      0   0    1     2
1         10.34  1.66   1      0   0    1     3
2         21.01  3.50   1      0   0    1     3
3         23.68  3.31   1      0   0    1     2
4         24.59  3.61   0      0   0    1     4
..          ...   ...  ..    ...  ..  ...   ...
239       29.03  5.92   1      0   1    1     3
240       27.18  2.00   0      1   1    1     2
241       22.67  2.00   1      1   1    1     2
242       17.82  1.75   1      0   1    1     2
243       18.78  3.00   0      0   2    1     2

[244 rows x 7 columns]

In [64]:
x=df.drop('time',axis=1)
y=df.time
x.shape,y.shape

((244, 6), (244,))

In [65]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [66]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.15,random_state=13)
x_train.shape,x_test.shape

((207, 6), (37, 6))

In [67]:
scaler=StandardScaler()
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [68]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(x_train_scaled,y_train)
y_pred=gnb.predict(x_test_scaled)

In [69]:
from sklearn.metrics import classification_report,f1_score,precision_score

In [70]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.89      0.73      0.80        11
           1       0.89      0.96      0.93        26

    accuracy                           0.89        37
   macro avg       0.89      0.84      0.86        37
weighted avg       0.89      0.89      0.89        37

In [71]:
f1_score(y_test,y_pred)

0.9259259259259259

In [72]:
precision_score(y_test,y_pred)

0.8928571428571429